NESTJS_DATA_PLATFORM_COMMON_SETTINGS_MYSQL_KUBE_URL=mysql://user:password@localhost:3306/common?sslmode=prefer
NESTJS_DATA_PLATFORM_AUTHENTICATOR_MYSQL_KUBE_URL=mysql://user:password@localhost:3307/auth?sslmode=prefer

AUTHENTICATOR_HOST=localhost
AUTHENTICATOR_PORT=

RMQ_USER=
RMQ_PASS=
RMQ_ADDRESS=localhost
RMQ_PORT=5672
RMQ_QUEUE_CONSUME=nestjs-data-connection-request-control-manager-consume
RMQ_VHOST=data-platform

RMQ_QUEUE_RECEIVE_ASYNC_DATA_CONSUME=nestjs-data-connection-receive-async-data-consume

APPLICATION_PORT=3001

TIME_ZONE=Asia/Tokyo

IMAGE_STORAGE_PATH=/images
TRANSACTIONS_STORAGE_PATH=/inputs/orders/csv

REDIS_HOST=localhost
REDIS_PORT=6379

RMQ_QUEUE_CACHE=data-platform-request-reads-cache-manager-queue

EMAIL_HOST=smtp.gmail.com
EMAIL_AUTH_USER=auth-user@gmail.com
EMAIL_AUTH_PASS=
EMAIL_FROM=from-user@gmail.com
